<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego del orden</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body class="fondo1">
    <div id="juego">
        <div class="centrarContenido" v-if="juegoSinIniciar">
            <h1>Bienvenidos!</h1>
            <button v-on:click="IniciarJuego" class="button">Jugar</button>
        </div>
        <div v-else>
            <h1 class="centrarTitulo">JUEGO DEL ORDEN</h1>
            <div class="column fondo2">
                <h2 class="">Ordenar los nombres alfabéticamente</h2>
                <ul class="flex-container">
                    <ol v-for="usuario in usuarios">
                        <button v-on:click="Ordenar(usuario, $event)" class="botones"> {{ usuario }}</button>
                    </ol>
                </ul>
            </div>

            <div class="column fondo2">
                <h2 class="">Lista</h2>
                <ul class="flex-container">
                    <ol v-for="item in lista">
                        <button class="botonesLista">{{ item }}</button>
                    </ol>
                </ul>
            </div>

            <div class="modal-container" v-if="cartelIncorrecto">
                <div class="modal">
                    <h3 class="cartelError">Incorrecto, verifique el nombre y vuelva a intentar</h3>
                </div>
            </div>
            
            <div class="modal-container" v-if="cartelCorrecto">
                <div class="modal cartelExito">
                    <h1>Excelente!</h1>
                    <!-- <button v-on:click="CerrarCartelExito" class="botones">Cerrar</button> -->
                    <button v-on:click="ReiniciarJuego" class="botones">Reiniciar</button>
                </div>
            </div>
        </div>
        <!-- <pre>{{$data}}</pre> -->
    </div>
    <script src="../vue/vue.js"></script>
    <script src="juego.js"></script>
</body>
</html>